$base-font-size: 16px;
$base-font-family: 'Encode Sans Semi Condensed',
sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$white: #f1f1f1;
$black: #1d1d1d;
$gray-10: #9c9c9c;
$gray-20: #6d6d6d;
$gray-30: #464646;
$gray-40: #323232;
$alert: #ff0000;
$valid: #39cb00;

$modal-z-index: 10;
