@import "functions";

:host {
  background-color: $gray-30;
  border-radius: px-to-rem(3px);
  box-shadow: 0 0 px-to-rem(5px) 0 rgba(0, 0, 0, 0.75);
  color: $white;
  display: block;
  width: 100%;
}

.book {
  height: 100%;

  &__heading {
    text-decoration: underline;
  }

  &__title {
    font-size: px-to-rem(20px);
    letter-spacing: px-to-rem(1px);
    text-transform: uppercase;
  }

  &__publication-year {
    font-size: px-to-rem(18px);
    font-weight: $font-weight-light;
  }

  &__authors {
    max-height: px-to-rem(100px);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }

  &__thumbnail {
    align-items: center;
    box-shadow: 0 0 px-to-rem(5px) 0 rgba($black, 0.75);
    display: flex;
    height: px-to-rem(75px);
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width: px-to-rem(50px);
    will-change: box-shadow, transform;

    &--clickable {
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 px-to-rem(10px) 0 rgba($black, 0.5);
        transform: scale(1.15);
      }
    }

    img {
      flex-shrink: 0;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &__tn-container {
    align-items: center;
    display: flex;
    height: px-to-rem(75px);
    justify-content: center;
    overflow: hidden;
    width: px-to-rem(50px);

    img {
      flex-shrink: 0;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &__image {
    height: auto;
    max-height: 90vh;
    max-width: 100%;
  }

  &__divider {
    background-color: rgba($gray-10, 0.5);
    height: px-to-rem(1px);
    width: 100%;
  }
}
