<div
  class="book p-3 d-flex align-items-center justify-content-between"
  appDeferLoad
  (deferLoad)="revealThumbnail()"
>
  <div>
    <div class="book__title">
      {{ book.bookTitle }}
      <span *ngIf="book.firstPublicationYear" class="book__publication-year"
        >({{ book.firstPublicationYear }})</span
      >
    </div>
    <div class="book__divider my-2"></div>
    <div class="book__authors">
      by
      <span *ngIf="!book.authors">N/A</span>
      <span *ngFor="let author of book.authors; let last = last"
        >{{ author }}
        <ng-container *ngIf="!last"> | </ng-container>
      </span>
    </div>
  </div>
  <div
    *ngIf="showThumbnail && book.coverThumbnail"
    class="book__thumbnail book__thumbnail--clickable ml-4 flex-shrink-0"
  >
    <img
      role="button"
      [src]="book.coverThumbnail"
      alt=""
      (click)="onOpenModal()"
    />
  </div>
  <div
    *ngIf="showThumbnail && !book.coverThumbnail"
    class="book__thumbnail ml-4 flex-shrink-0"
  >
    <img
      src="https://via.placeholder.com/50x58png/9c9c9c/FFFFFF/?text=N/A"
      alt=""
    />
  </div>
</div>

<ng-template #modalContent>
  <img class="book__image" [src]="book.coverImage" alt="" />
</ng-template>
