<div class="input" [class.input--filled]="inputHasValue">
  <input
    [formControlName]="controlName"
    class="input__field"
    type="text"
    id="input-field"
  />
  <label class="input__label" for="input-field">
    <span class="input__label-content d-flex justify-content-between">
      {{ inputLabel }}
      <span
        class="input__error"
        [class.input__error--show]="input.touched && input.errors?.required"
      >
        <ng-container *ngIf="input.touched && input.errors?.required">
          Required
        </ng-container>
      </span>
    </span>
  </label>
</div>
