@import "functions";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$transformVal: px-to-rem(8px);

:host {
  display: block;
  margin: $transformVal 0;
}

$transformVal: px-to-rem(8px);

:host {
  display: block;
  margin: $transformVal 0;
}

.input {
  display: inline-block;
  margin-top: px-to-rem(32px);
  position: relative;
  vertical-align: top;
  width: 100%;
  z-index: 1;

  &__field {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $white;
    display: block;
    float: right;
    font-family: inherit;
    font-size: px-to-rem(26px);
    font-weight: $font-weight-light;
    padding: px-to-rem(9px) px-to-rem(32px);
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      font-size: px-to-rem(34px);
      padding: px-to-rem(13px) px-to-rem(32px);
    }

    &.ng-valid + .input__label {
      &::before,
      &::after {
        background-color: $white;
        transition: background-color 0.3s ease-in-out;
        will-change: background-color;
      }
    }

    &:focus {
      outline: none;

      &.ng-valid + .input__label {
        &::before,
        &::after {
          background-color: $valid;
        }
      }

      &.ng-touched {
        &.ng-invalid + .input__label {
          &::before,
          &::after {
            background-color: $alert;
            opacity: 1;
          }
        }
      }
    }
  }

  &__label {
    color: $white;
    float: right;
    font-weight: bold;
    padding: 0 px-to-rem(16px);
    pointer-events: none;
    position: absolute;
    text-align: left;
    user-select: none;
    width: 100%;

    &::before,
    &::after {
      background-color: $white;
      content: "";
      height: px-to-rem(3px);
      left: 0;
      position: absolute;
      transition: transform 0.3s;
      width: 100%;
      will-change: transform;
      z-index: -1;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__label-content {
    display: block;
    padding: px-to-rem(16px) 0;
    position: relative;
    transition: transform 0.3s;
    width: 100%;
    will-change: transform;

    @include media-breakpoint-up(md) {
      padding: px-to-rem(24px) 0;
    }
  }

  &__error {
    color: $alert;
    font-weight: $font-weight-light;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;

    &--show {
      opacity: 1;
    }
  }

  &__error {
    color: $alert;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &--show {
      opacity: 1;
    }
  }
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  transform: translate3d(0, -90%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  transform: translate3d(0, -$transformVal, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  transform: translate3d(0, $transformVal, 0);
}
