@import "functions";

:host {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sk-chase {
  animation: sk-chase 2.5s infinite linear both;
  height: px-to-rem(60px);
  position: relative;
  width: px-to-rem(60px);

  &--small {
    height: px-to-rem(30px);
    width: px-to-rem(30px);
  }
}

.sk-chase-dot {
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::before {
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
    background-color: #fff;
    border-radius: 100%;
    content: '';
    display: block;
    height: 25%;
    width: 25%;
  }

  &:nth-child(1) {
    animation-delay: -1.1s;
  }

  &:nth-child(2) {
    animation-delay: -1.0s;
  }

  &:nth-child(3) {
    animation-delay: -0.9s;
  }

  &:nth-child(4) {
    animation-delay: -0.8s;
  }

  &:nth-child(5) {
    animation-delay: -0.7s;
  }

  &:nth-child(6) {
    animation-delay: -0.6s;
  }

  &:nth-child(1)::before {
    animation-delay: -1.1s;
  }

  &:nth-child(2)::before {
    animation-delay: -1.0s;
  }

  &:nth-child(3)::before {
    animation-delay: -0.9s;
  }

  &:nth-child(4)::before {
    animation-delay: -0.8s;
  }

  &:nth-child(5)::before {
    animation-delay: -0.7s;
  }

  &:nth-child(6)::before {
    animation-delay: -0.6s;
  }
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {

  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1);
  }
}
