@import "functions";

.backdrop {
  background-color: rgba($black, 0.85);
  cursor: pointer;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $modal-z-index;
}

.modal {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: $modal-z-index + 1;

  &__container {
    position: relative;
    z-index: $modal-z-index + 2;
  }

  &__content {
    background-color: $black;
    border-radius: px-to-rem(5px);
    min-height: px-to-rem(200px);
    min-width: px-to-rem(200px);
    overflow: hidden;

    ::ng-deep img {
      vertical-align: middle;
    }
  }

  &__close-btn {
    appearance: none;
    background-color: $black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: px-to-rem(40px);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    width: px-to-rem(40px);
  }

  &__close-svg {
    fill: $white;
  }
}

::ng-deep .modal-open {
  overflow: hidden;
}
