@import "functions";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

.heading {
  font-size: px-to-rem(30px);
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: px-to-rem(40px);
  }
}

.results {
  &__none {
    font-size: px-to-rem(20px);
  }
}

.error {
  background-color: $alert;
  border-radius: px-to-rem(3px);
  box-shadow: 0 0 px-to-rem(5px) 0 rgba(0, 0, 0, 0.75);
  color: $white;
}

.back {
  appearance: none;
  background-color: $black;
  border: none;
  border-radius: px-to-rem(3px);
  bottom: px-to-rem(30px);
  box-shadow: 0 0 px-to-rem(2px) 0 rgba(0, 0, 0, 0.75);
  color: $white;
  cursor: pointer;
  font-family: $base-font-family;
  font-size: px-to-rem(13px);
  left: 50%;
  opacity: 0;
  position: fixed;
  transform: translate(-50%, 300%);
  transition: all 0.3s ease-in-out;
  z-index: 0;

  @include media-breakpoint-up(md) {
    font-size: px-to-rem(18px);
  }

  &:hover {
    background-color: $gray-40;
  }

  &--visible {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
