<div class="container">
  <div class="row">
    <div class="col col-lg-8 mx-auto">
      <div class="mb-5">
        <h1 class="heading">The Book Browser</h1>
        <form
          [formGroup]="reactiveForm"
          (ngSubmit)="onSubmit()"
          appDeferLoad
          [triggerOutsideView]="true"
          (deferLoad)="onHandleScrollBtn($event)"
        >
          <app-float-input
            [controlName]="SearchFormField.SEARCH"
            [inputLabel]="'Enter title name'"
            [control]="reactiveForm.controls[SearchFormField.SEARCH]"
          ></app-float-input>
          <app-button [type]="ButtonType.SUBMIT" class="mt-3 d-block"
            >Search</app-button
          >
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container results">
  <ng-container *ngIf="books$ | async as books">
    <div class="row" @revealIn *ngIf="status === SearchStatus.COMPLETE">
      <div
        *ngFor="let book of books"
        class="col-md-6 col-lg-4 py-2 p-md-3 d-flex"
      >
        <app-book [book]="book"></app-book>
      </div>
      <div *ngIf="books.length === 0" class="results__none mx-auto">
        <span>No books found.</span>
      </div>
    </div>
  </ng-container>
</div>

<app-loading-indicator
  @fadeInOut
  *ngIf="status === SearchStatus.LOADING"
></app-loading-indicator>

<div class="container" *ngIf="status === SearchStatus.ERROR">
  <div class="row">
    <div class="error p-4 mx-auto">
      An error occured, please try searching again.
    </div>
  </div>
</div>

<button type="button" class="back p-2" #back (click)="scrollToTop()">
  Back to top
</button>
