@import 'functions';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

.button {
  background: none;
  border: px-to-rem(3px) solid $white;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: px-to-rem(16px);
  font-weight: 700;
  letter-spacing: px-to-rem(1px);
  margin-top: 1rem;
  outline: none;
  padding: px-to-rem(16px) px-to-rem(10px);
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 100%;

  &:hover,
  &:active {
    background: $white;
    color: $black;
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    font-size: px-to-rem(21px);
    padding: px-to-rem(21px) px-to-rem(10px);
  }
}
