@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;500;700&display=swap');
@import 'variables';

body {
  background-color: $black;
  color: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-medium;
  margin: 0;
}
